:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #333;
  --main-text-color: #fff;
  --main-btn-bg-color: #7a908e;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
}

.custom-controls button:hover {
  background-color: rgb(144, 163, 163);
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  align-items: center;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#timer {
  align-items: center;
  font-size: 10rem;
  text-align: center;
  position: relative;
  z-index: 10;
  color: var(--main-text-color);
}

#timer-back {
  min-width: 1000px;
}

#timer-controls {
  background-color: #d0e1df;
  padding: 0 5rem 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#timer-controls button, input[type="submit"] {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  width: 100px;
  height: 60px;
  margin: 10px;
  transition-duration: 0.2s;
}

#timer-controls label {
  color: var(--main-text-color);
  margin: 10px;
}

#submit {
  height: 45px;
}

#timer-controls button:hover,
input[type="submit"]:hover {
  background-color: rgb(144, 163, 163);
}


#timer-dur {
  background-color: var(--main-btn-bg-color);
  height: 60px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

input {
  margin: 10px;
}

#timer-prog {
  width: 100%;
  height: 300px;
  background-color: rgb(85, 160, 135);
  overflow: hidden;
  position: relative;
}

#timer-prog span {
  display: block;
  position: absolute;
  height: 100%;
  background-color: #dd6a6a;
  width: 0;
  transition: width 0.3s ease;
  z-index: 2;
}

/* #timer-back {
  background-color: #ddd;
} */
