nav {
  padding: 100px 0px 0px 100px;
}

.outer {
  display: flex;
  margin: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: aqua;
}

.inner {
  user-select: none;
}

.painting {
  padding: 5px;
  position: relative;
  background-color: rgb(194, 176, 176);
}


.painting button {
  max-height: 300px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  transition: transform 0.1s;
}

.painting img {
  max-height: 300px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
}

#duck {
  min-height: 100px;
  min-width: none;
}

.art-tag {
  background-color: brown;
  width: 100%;
  align-items: center;
  display: none;
  justify-content: center;
  font-size: 1rem;
  position: absolute;
  /* bottom: 35px; */
  /* animation: btn-scale 0.1s forwards; */
}

/* .inner {
  display: none;
} */

#salmon-tag.show {
  display: block;
}


#astrobottle-info {
  user-select: none;
}

#astro-tag {
    display: none;
}

#king-tag.show {
  display: block;
}

#duck-tag.show {
  display: block;
}

#astro-tag.show {
    display: block;
}

#sushi-tag.show {
  display: block;
}

/* #astrobottle-info.show {
  display: block;
} */

#astro-button {
  position: absolute;
  top: 2%;
  transition: transform 0.1s;
}

#astro-button:hover {
    transform: scale(1.05)
}

button:hover {
  transform: scale(1.05)
}

#salmon-egg {
  background-color: blueviolet;
  
}

/* #astro-button.scale {
  animation: btn-scale 0.1s forwards;
}

#astro-button.scale-out {
    animation: btn-scale-out 0.1s forwards;
  } */
/* A simple hover and transiton cannot be used on the button, as the information tag obstructs the button hover, causing the hover to be cancelled whenever the user hovers over the tag. To combat this, I used javascript to detect the hover over the whole div instead. */

#astro-button.show {
  display: block;
}



/* @keyframes btn-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes btn-scale-out {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
} */

/* https://stackoverflow.com/questions/294250/how-do-i-retrieve-an-html-elements-actual-width-and-height */
