/* Researching existing portfolios from established artists within entertainment design, most of them share a minimalistic black and white style. This style prioritises the artwork by minimising distractions from the website design.  */

header {
  padding: 50px 0px 40px 0px;
  user-select: none;
  background-color: rgb(24, 24, 24);
}

hr {
  width: 100%;
}

/* The website uses sans-serif font to further shift user attention away within the minimalistic style, as well as to evoke a modern style. */

h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

#title {
  padding-left: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

#subheading {
  padding-left: 100px;
  font-family: "Poppins", sans-serif;
}

.statement {
  font-size: 1rem;
  padding-top: 2rem;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

.outer {
  padding: 40px 10px 40px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(24, 24, 24);
}
/* The dark gray backdrop is the optimal shade for illustrations, as they allow the colours and bright values to pop and stand out more than they would on a white backdrop due to colour and value relativity. */

.inner {
  user-select: none;
}

.painting {
  margin: 2px;
  padding: 5px;
  position: relative;
  /* background-color: rgb(194, 176, 176); */
  user-select: none;
}

.painting button {
  max-height: 400px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  transition: transform 0.1s;
  user-select: none;
}

.painting img {
  max-height: 400px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  user-select: none;
}

.timelapse {
  max-height: 400px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  display: none;
  z-index: 1;
  user-select: none;
}

#salmon-timelapse.show,
#astro-timelapse.show,
#king-timelapse.show,
#duck-timelapse.show,
#bull-timelapse.show,
#sushi-timelapse.show {
  display: block;
}

.art-tag {
  background-color: rgba(83, 83, 83, 0.504);
  width: 100%;
  display: none;
  font-size: 1rem;
  position: absolute;
  z-index: 2;
}
/* An issue I saw one professional portfolio example was that the hover information completely obstructed the artwork. I wanted to retain the ease and flow of hover information, but ensure to implement it in a very unobstrusive manner by reducing its size and adding transparency to the div.  */

#salmon-tag.show,
#astro-tag.show,
#king-tag.show,
#duck-tag.show,
#sushi-tag.show,
#bull-tag.show {
  display: block;
}

button:hover {
  transform: scale(1.05);
}

/* The subtle animation when hovering over a button is necessary to signal interactivity to the user. */

.window {
  display: flex;
  flex-direction: row;
  color: black;
  position: fixed;
  cursor: default;
  z-index: 5;
}

.window-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  cursor: pointer;
}

#astro-pop-container,
#duck-pop-container,
#salmon-pop-container,
#king-pop-container,
#bull-pop-container,
#sushi-pop-container {
  background-color: rgba(0, 0, 0, 0.656);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}
/* The main webpage is darkened when viewing the pop up window to draw focus on the contents of the pop up window. */

#astro-pop-container.show,
#salmon-pop-container.show,
#duck-pop-container.show,
#king-pop-container.show,
#bull-pop-container.show,
#sushi-pop-container.show {
  display: flex;
}

#astro-pop-back,
#salmon-pop-back,
#duck-pop-back,
#king-pop-back,
#bull-pop-back,
#sushi-pop-back {
  width: 100vw;
  height: 100vh;
}

.full-img {
  max-height: 80vh;
  /* Max height is defined with viewport heigh to ensure the art piece is displayed at an enlarged resolution whilst being responsive to the monitor*/
  min-height: 100px;
  object-fit: cover;
  user-select: none;
}

.desc {
  overflow: auto;
  max-height: 80vh;
  padding: 2rem;
  min-width: 200px;
  max-width: 250px;
  color: aliceblue;
  background-color: rgb(24, 24, 24);
}

.close-btn {
  /* background-color: rgb(243, 0, 0); */
  padding: 5px;
  position: absolute;
  bottom: 0%;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  user-select: none;
}

.play-TL {
  color: rgb(10, 10, 10);
  background-color: rgb(83, 70, 255);
  margin-top: 1rem;
  position: relative;
  bottom: 0%;
  width: 100%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  user-select: none;
  transition: 0.1s;
}
/* I added colour to the timelapse button so that it stands out compared to the other elements, ensuring that the user knows that there is a timelapse feature and to pique their curiosity. */

.play-TL:hover {
  background-color: aliceblue;
}

#salmon-pop-TL,
#astro-pop-TL,
#king-pop-TL,
#bull-pop-TL,
#sushi-pop-TL,
#duck-pop-TL {
  display: none;
  max-height: 80vh;
  min-height: 100px;
  z-index: 3;
  position: absolute;
  left: 20px;
}

#salmon-pop-TL.show,
#astro-pop-TL.show,
#king-pop-TL.show,
#duck-pop-TL.show,
#bull-pop-TL.show,
#sushi-pop-TL.show {
  display: block;
}

.nav-button {
  align-content: center;
  justify-content: center;
  background-color: rgba(143, 143, 143, 0.634);
  width: 20px;
  transition: 0.2s;
  user-select: none;
}

.nav-button2 {
  background-color: rgba(143, 143, 143, 0.634);
  width: 20px;
  transition: 0.2s;
  height: 100%;
  padding-top: 100%;
  padding-bottom: 100%;
  user-select: none;
}

.nav-button2:hover {
  background-color: rgb(215, 215, 215);
}

.nav-button:hover {
  background-color: rgb(215, 215, 215);
}

/* The bright hover colour catches user attention and signals to the users that the buttons are interactive */

.arrow {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
